<body>
    <div class="container" id="container" style="display: flex; justify-content: space-around;">
        <div>
            <form>
                <img src="assets/img/logo2.png" style="width: 260px;" class="image-left">
            </form>
        </div>
        <div>
            <form>
                <h1 style="color: #c21e40;">Se Connecter</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Mot de passe oublié?</a>
                <button (click)="loginAdmin()"> Connexion </button>
            </form>
        </div>
    </div>
</body>