<div class="div-main">
  <div class="title-page">
    <h2>Les Cours</h2>

  </div>
  <div class="row custom-div-liste-cours">
    <div class="container" style="margin-top: 20px;">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="mb-3">
            <h5 class="card-title"> List <span class="text-muted fw-normal ms-2">({{coursList?.length}})</span></h5>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">

            <div>
              <button mat-raised-button color="primary" (click)="onAddCours()"><i class="bx bx-plus me-1"></i> Add New
                Courses</button>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <div>
                <p-table [value]="coursList" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                  
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [rowsPerPageOptions]="[5, 10, 20]">
                  <ng-template pTemplate="header">
                    <tr>

                      <th>Titre</th>
                      <th>Description</th>

                      <th>Action</th>
                    </tr>
                    <tr>
                      <th>
                        <p-columnFilter type="text" field="titre"></p-columnFilter>
                      </th>
                      <th>
                        <p-columnFilter type="text" field="description"></p-columnFilter>
                      </th>
                     
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-coursList>
                    <tr>


                      <td><span class="badge badge-soft-success mb-0">{{coursList.titre}}</span></td>
                      <td>{{coursList.description}}</td>

                      <td>
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item">
                            <div class="example-button-container">
                              <button mat-mini-fab color="primary" (click)="onEditCours(coursList)"
                                aria-label="Example icon button with a menu icon">
                                <mat-icon>edit</mat-icon>
                              </button>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="example-button-container">
                              <button mat-mini-fab (click)="deleteCours(coursList.id)" color="warn"
                                aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                          </li>

                        </ul>
                      </td>
                    </tr>



                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>